# env
.env

# model weights
models/best_xception.pth
*.pth

# dataset
test_images/
knowledge_base/pdfs/

# python
__pycache__/
*.pyc
*.pyo

# node
frontend/node_modules/
frontend/dist/

# notebooks
notebooks/
*.ipynb

# misc
.DS_Store
*.zip
knowledge_base/pdfs/
knowledge_base/faiss.index
